.fbox-plans {
	width: 100%;
	height: 100%;
	background: #f3f3f3;
	background-size: cover;
	background-position: top center;
	position: relative;
	display: none;
	
	img {
		position: absolute;
	}
	.plan {
		width: 75%;
	    top: 21%;
	    left: 13%;
	}
	p {
		position: absolute;
		right: 5%;
		top: 7%;
		color: #000;
		text-transform: uppercase;
		font-size: 2.5em;
		line-height: 1.1em;
		padding-right: 10px;
		border-right: 7px solid #f44141;
	}
}


