.containerObject{
	width: 1349px;
	height: auto;
	margin: 0 auto;
}

.objectMainImg{
	background: url(../img/objectMainBg.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 530px;
	padding: 10% 0 0 10%;
	position: relative;
	overflow: hidden;

	h3{
		font-size: 2.5em;
    font-weight: unset;
	}

	h4{
		font-size: 5em;
    font-weight: unset;
	}

}

.objectTopContent{
	width: 50%;
	a {
		width: 150px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		display: block;
		color: #000;
	}
}


.or-right {
	width: 70%;
	height: 16%;
	position: absolute;
	bottom: 0;
	right: 0;
	@include flex(); 
	background-color: $orange-bg-color;
	justify-content: flex-end;
	align-items: center;
	padding-left: 5%;
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	div {
		flex: 0 0 30%;
		text-align: left;
		p:first-child {
			font-size: 2.5em;
			color: $main-text-color;
			margin-bottom: 0;
			line-height: 1em;
		}
		p:last-child {
			text-transform: uppercase;
			font-size: 1.5em;
			color: $main-text-color;
			margin-bottom: 0;
			line-height: 1em;
		}					
	}
}
		

.objectDesc{
	width: 1300px;
	padding: 50px;
	margin: 0 auto;
	p, ul li, ul strong{
		color: #000;
		font-size: 1.2rem;
		list-style: none;
		line-height: 1em;
	}
	p {
		margin-bottom: 0;
	}
}

.galleryImg{
	max-width: 100%;
	margin-bottom: 30px;
}	

.mywrapper-projects{
	position: relative;
}

.mycontainer{
	width: 100%;
 	padding: 0 120px 0 50px;
}

#myrotated-2{
	position: absolute;
	right: 0;
	top: 0;
	width: 108px;

	img{
		max-width: 100%;
	}
}


#choose-block {
	width: 100%;
	height: 1000px;
	.container-flat {
		width: 1300px;
		height: 100%;
		margin: 0 auto;
		.left {
			float: left;
			height: 100%;
			@include flex();
			width: 12.5%;
			align-items: center;
			justify-content: center;
			img {
				width: 50%;
			}
		}
		.right {
			width: 82.5%;
			height: 100%;
			float: right;
			@include flex();
			justify-content: center;
			flex-direction: column;
			.top-line {
				box-shadow: -2px 0 1px #ddd, 0 -2px 1px #ddd, 2px 0 1px #ddd;
				width: 100%; 
				height: 8%;
				@include flex();
				justify-content: center;
				align-items: center; 
				div {
					text-align: center;
					flex: 1;
					border-right: 1px solid #ddd;
					p:first-child {
						font-size: 2.5em;
						color: $main-text-color;
						margin-bottom: 0;
						line-height: 1em;
						sup {
							color: #000;
						}
					}
					p:last-child {
						text-transform: uppercase;
						font-size: 1.2em;
						color: $main-text-color;
						margin-bottom: 0;
						line-height: 1em;
					}					
				}
			} 
			#flat {
				box-shadow: -2px 0 1px #ddd, 2px 0 1px #ddd;
				width: 100%;
				height: 75%;
				overflow: hidden;
			}
			.bot-line {
				text-transform: uppercase;
				box-shadow: -2px 0 1px #ddd, 0 2px 1px #ddd, 2px 0 1px #ddd;
				width: 100%;
				height: 8%;
				.bl:first-child {
					width: 70%;
					height: 100%;
					float: left;
					@include flex();
					justify-content: center;
					flex-direction: column;
					padding-left: 1%;
					p:first-child {
						width: 100%;
						line-height: 1em;
						text-transform: uppercase;
						font-size: 1.2em;
						color: $main-text-color;
						margin-bottom: 0;
					}
					p:last-child {
						width: 100%;
						font-size: 2.5em;
						color: $main-text-color;
						margin-bottom: 0;
						line-height: 1em;
						sup {
							color: #000;
						}
					}	
				}
				.bl:last-child {
					width: 30%;
					height: 100%;
					float: right;
					@include flex();
					justify-content: center;
					align-items: center;
					a {
						display: none;
						width: 60%;
						height: 40px;
						background-color: #eee !important;
						text-align: center;
						line-height: 40px;
						&:hover {
							background-color: $orange-bg-color !important;
						}
					}

				}
			}
		}
	}
}  

#blockText,
#floorText,
#planText,
#sqText,
#blockLink,
#floorLink,
#planLink {
	display: none;
}

#blockLink,
#floorLink,
#planLink,
area  {
	cursor: pointer;
}


.backButton {
	position: absolute;
	top: 7%;
	left: 5%;
	display: block;
	width: 44px;
	height: 44px;
	background-color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 2.5em !important;
	color: #000 !important;
	cursor: pointer;
	z-index: 10000;
	box-shadow: -1px 0 2px #eee, 0 1px 2px #eee, 1px 0 2px #eee, 0 -1px 2px #eee;
	&:hover {
		box-shadow: -1px 0 2px #ddd, 0 1px 2px #ddd, 1px 0 2px #ddd, 0 -1px 2px #ddd;
	}
}





@media only screen 
and (min-width: 1920px) {
	.containerObject{
		width: 1903px;
	}
	.objectMainImg {
		width: 100%;
		height: 740px;
	}
	.objectDesc {
		width: 100%;
	}
}